# Xcode
DerivedData/
build/
*.xcuserdatad
*.xcscmblueprint
*.xccheckout

# User-specific
*.xcuserdata
*.swp
*.swo

# SwiftPM
/.swiftpm/
/.build/

# Cocoapods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Other
*.log
.DS_Store

# 自定义忽略
secrets.json
.env
